.text-color {
    color: rgba(128, 125, 125, 0.589);
}

h1 {
    font: italic 200% calibri;
    text-align: center;
}

body {
    background: linear-gradient(60deg, #ccffff, #ffffff, #ffcccc);
}

p {
    text-align: center;
    color: rgba(100, 101, 102, 0.63);
}

.border {
    border-radius: 52px;
    border-spacing: 22px;
}

.link-style {
    color: rgb(110, 195, 252);
}