.text-color {
    color: rgb(48, 95, 196);
}

h1 {
    font: italic 200% calibri;
    text-align: center;
}

body {
    background-color: rgb(12, 22, 44);
}

p {
    text-align: center;
    color: rgb(195, 198, 204);
}

.border {
    border-radius: 52px;
    border-spacing: 22px;
}

.link-style {
    color: rgb(55, 100, 99);
}